<a href="https://colab.research.google.com/github/aso1801031/AI_teach2020/blob/master/2020AI020A_Square_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
# ライブラリの読み込み
import pandas as pd
# データを学習用とテストように分けるライブラリ
from sklearn.model_selection import train_test_split
#　ランダムフォレストアルゴリズムの学習モデル
from sklearn.ensemble import RandomForestClassifier
# 学習制度を評価するライブラリ
from sklearn.metrics import accuracy_score
#　分類結果を評価するライブラリ
from sklearn.metrics import classification_report

In [26]:
# webから読み込むためのライブラリ
from urllib.request import urlretrieve
# uciのサイトから読み込むためのurl文字列
url = "https://raw.githubusercontent.com/masatokg/square_data/master/data.csv"
savepath = "square_data.csv"
#　データをwebでアクセスでコピーして指定したファイルパス・ファイル名に保存
urlretrieve(url,savepath)

('square_data.csv', <http.client.HTTPMessage at 0x7f32f7e39c18>)

In [27]:
# 変数squareにデータを保持
square=pd.read_csv(savepath,encoding="utf-8")
# 読み込んだデータの最初の方を表示
square.head()

   a_length  b_length  c_length  ...  cd_Parallel  ab_right_angle   shape
0        10        10        10  ...            1               1  square
1        11        11        11  ...            1               1  square
2        12        12        12  ...            1               1  square
3        13        13        13  ...            1               1  square
4        14        14        14  ...            1               1  square

[5 rows x 8 columns]

In [28]:
#機械学習のデータをテスト用とに分けるためのクラス
from sklearn.model_selection import train_test_split
# サポートベクターマシン（SVM）のSVCアルゴリズムのクラス
from sklearn.svm import SVC
# テストの評価用クラス
from sklearn.metrics import accuracy_score

In [29]:
y = square["shape"]
x = square.drop("shape", axis=1)
x.head()

   a_length  b_length  c_length  ...  ab_Parallel  cd_Parallel  ab_right_angle
0        10        10        10  ...            1            1               1
1        11        11        11  ...            1            1               1
2        12        12        12  ...            1            1               1
3        13        13        13  ...            1            1               1
4        14        14        14  ...            1            1               1

[5 rows x 7 columns]

In [30]:
# est_splitを使って、ｘもｙもtrainデータとtestデータにランダムに分ける（shuffle）
#　比率はest = 0.0,train=0.0で、x_train,y_train,x_test,y_testという編集に代入する
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,train_size=0.8,shuffle=True)

In [31]:
# ランダムフォレストで学習
model = RandomForestClassifier()
model.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [32]:
y_pred =model.predict(x_test)
# テスト結果(y_pred)と、本当の実データ(正解ラベルデータ)を比較して制度を評価
print(classification_report(y_test, y_pred))
# 正解率
print("正解率 = ", accuracy_score(y_test, y_pred))

              precision    recall  f1-score   support

   rectangle       1.00      1.00      1.00        22
     rhombus       1.00      1.00      1.00        17
      square       1.00      1.00      1.00        15
   trapezoid       1.00      1.00      1.00        26

    accuracy                           1.00        80
   macro avg       1.00      1.00      1.00        80
weighted avg       1.00      1.00      1.00        80

正解率 =  1.0